<div id="fh5co-contact" class="fh5co-section-gray">
    <div class="container">
        <form action="#">
            <div class="row animate-box">
                <div class="col-md-6">
                    <h3 class="section-title">关于我们</h3>
                    <p>长城地产 - 您身边的房产专家。</p>
                    <p>长城地产公司坐落在美国南加州圣盖博谷地区，是一家服务于海内外华人的一家新兴地产公司。公司拥有数名专业的地产经纪人和房产设计师，
                        以及长期合作的固定的客户，为您实现买房、卖房、投资管理一条龙服务。为您实现安居乐业的美丽梦想，同时为您积累财富、投资理财提供热心服务。
                    </p>
                    <ul class="contact-info">
                        <li><i class="icon-location-pin"></i>18931 Colima Road # A</li>
                        <li><i class="icon-phone2"></i> (626)-600-9128</li>
                        <li><i class="icon-mail"></i><a href="email://houseexpress888@gmail.com">houseexpress888@gmail.com</a></li>
                        <li><i class="icon-globe2"></i><a href="http://www.greatwallrealty.com">www.greatwallrealty.com</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" value="发送信息" class="btn btn-primary">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="button" value="在线咨询" id="about-chat" class="btn btn-primary" onclick="toggleOnlineChatting()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>