<div id="cy-escrow" class="fh5co-section-gray" style="padding-bottom: 30px">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Escrow</h3>
                <p>长城地产 - 全方位为您分忧解难。</p>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-6">
                <!--<h3 class="section-title">Escrow</h3>-->
                <p>
                        在美国买了房子虽然永远都是自己的，但买房后每年都要交税，直到永远（除非你卖掉）。美国政府每年征收相当与房地产值百
                    分之一到百分之二的财产税。相当于每过五十到八十年，你就要把你的房产值，再向政府交一遍。
                    &quot;外国人&quot;在美国的房产，如果是出租，每年获利部分的交税额为个人所得利润的20%，如果一年的个人所得为5%-7%，即这5-7%
                    的20%要交税。扣除房子的折旧费，一般3.5%左右的20%为实际交税的费用。美国国税局定义的外国人，不是正常意义上的外国
                    公民，而是一年中在美国居住时间未超过183天的外国人。所以如果非美国国籍也无绿卡的外国人，若长期居住在美国，则不算
                    是“外国人“。</p>

            </div>
            <div class="col-md-6">
                <div>
                    <img src="/images/escrow-main.jpg" alt="Escrow"
                         class="img-responsive img-rounded">
                </div>
            </div>
        </div>

    </div>
</div>