<div id="cy-land" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>土地投资</h3>
                <p>长城地产 - 财富自由，从长城开始。</p>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-6">
                <!--<h3 class="section-title">Escrow</h3>-->
                <p>
                        美国的土地可以自由买卖，现在美国不存在无主土地，或者是私人拥有，或者是联邦政府，或者地方政府拥有。美国私人购买的住宅，政府
                    每年给的评估价中会区分，告诉你地面上的房屋价值是多少，土地的价值是多少。所谓的好区土地的价值很贵，甚至比在不好的区域内整个房子连
                    带土地还要贵，所以投资房地产的土地当然要考虑位置和未来升值的潜力。 长城地产提供有巨大升值潜力的土地投资服务。</p>

            </div>
            <div class="col-md-6">

                <div>
                    <img src="/images/land-main.jpg" alt="Land Investment"
                         class="img-responsive img-rounded">
                </div>
            </div>
        </div>

    </div>
</div>