<div id="fh5co-blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>房屋贷款</h3>
                <p>长城地产 - 经验丰富的贷款专员竭诚为您服务</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-bottom-padded-md">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-blog animate-box">
                    <a><img class="img-responsive" src="/images/fha-card.jpg" alt="fha"></a>
                    <div class="blog-text">
                        <div class="prod-title">
                            <h3><a>FHA</a></h3>
                            <!--<span class="posted_by">Sep. 15th</span>-->
                            <!--<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>-->
                            <p>FHA是联邦房屋委员会担保的房屋贷款，该贷款对贷款人的要求比较高，联邦房屋委员会对该贷款有担保。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-blog animate-box">
                    <a><img class="img-responsive" src="/images/cloans-card.jpg" alt=""></a>
                    <div class="blog-text">
                        <div class="prod-title">
                            <h3><a>Conventional Loan</a></h3>
                            <!--<span class="posted_by">Sep. 15th</span>-->
                            <!--<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>-->
                            <p>Conventional Loan 传统房屋贷款虽然未经联邦政府担保， 但是也要要符合房利美和房地美这两个联邦机构的规范。</p>
                            <!--<p><a href="#">Learn More...</a></p>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-blog animate-box">
                    <a><img class="img-responsive" src="/images/valoan-card.jpg" alt=""></a>
                    <div class="blog-text">
                        <div class="prod-title">
                            <h3><a>VA loan</a></h3>
                            <!--<span class="posted_by">Sep. 15th</span>-->
                            <!--<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>-->
                            <p>Conventional Loan 传统房屋贷款虽然未经联邦政府担保， 但是也要要符合房利美和房地美这两个联邦机构的规范。</p>
                            <!--<p><a href="#">Learn More...</a></p>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-blog animate-box">
                    <a><img class="img-responsive" src="/images/siloan-card.jpg" alt=""></a>
                    <div class="blog-text">
                        <div class="prod-title">
                            <h3><a>Stated Income Loan</a></h3>
                            <!--<span class="posted_by">Sep. 15th</span>-->
                            <!--<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>-->
                            <p>不查收入贷款。 贷款人仍须提供工作证明信， 以及其他基本信息。</p>
                            <!--<p><a href="#">Learn More...</a></p>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-md-block"></div>
        </div>

    </div>
</div>