<div id="fh5co-services-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>房产管理</h3>
                <p>长城地产提供住宅管及商业出租管理服务，为各位工作忙碌与人在外州或人不在国内的房东们做租屋一条龙的租屋管理服务。</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 col-sm-4">
                <div class="service animate-box">
                    <span><i class="icon-arrow-bold-up"></i></span>
                    <h3>实现增值</h3>
                    <p>“保值、增值”最有效的手段，借助于中国房地产业的迅猛发展，来投资房产者多可获得丰厚回报。因此，选择投资房地产业的投资者也越来越多，许多投资者选择买房出租、以租待售谋利。但自营出租牵扯房主的时间和精力过多，也不易获得很好的收益。</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service animate-box">
                    <span><i class="icon-magnet"></i></span>
                    <h3>利于整合</h3>
                    <p>有利于盘活整个城市存量闲置房产，使闲置房产得到科学有效的再分配再利用。 房产属于稀缺资源，房产的闲置，是社会财富的巨大浪费。</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service animate-box">
                    <span><i class="icon-upload"></i></span>
                    <h3>方便业主</h3>
                    <p>最大的好处是收益稳定，省心、省力、省时间！自营出租很麻烦：找房客要一次次带人开门看房子；求租者形形色色，良莠不齐，难以挑选合适的房客；房客中途退租，房屋空置期遥遥无期，白白损失租金，让人无可奈何；租客拖欠房租、水电费用、损毁房屋，大烦恼！</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service animate-box">
                    <span><i class="icon-globe"></i></span>
                    <h3>省时省力</h3>
                    <p>省时不用再花大量时间和精力，发布信息，约见客户，多次带客户看房<br>
                        省心不用操心，不用自己管理，不论您在何地，出差或学习或者是旅游，您不用任何担忧，只需要在您身边银行查收租金即可</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service animate-box">
                    <span><i class="icon-calculator"></i></span>
                    <h3>经济收益</h3>
                    <p>避免空置每年只需要一次招租，中途退房多次招租的风险我们替您承担<br>
                        收入可观每期准时获得稳定的租金收入，而且全年纯收入一般不低于您亲自管理的全年纯收入</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service animate-box">
                    <span><i class="icon-cloud"></i></span>
                    <h3>规避风险</h3>
                    <p>灵活理财您可以以租代售，既能收到房租，又能不紧不慢的卖个好价钱，租售两便<br>减少风险避免了按时收不到租金，家具家电遭到破坏等非正常损失，同时还节省了正常的管理成本</p>
                </div>
            </div>
        </div>
    </div>
</div>