<div id="fh5co-feature-product" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>房屋购买与出售</h3>
                <p>长城地产-贴心为您服务。</p>
            </div>
        </div>

        <div class="row row-bottom-padded-md">
            <div class="col-md-12 text-center animate-box">
                <p><img src="/images/purchase-cover.jpg" alt="房屋买卖"
                        class="img-responsive img-rounded"></p>
            </div>

        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-4">
                <div class="feature-text">
                    <h3>买房</h3>
                    <p>根据您的愿望为您分析学区，投资回报以及升值空间。协助您寻找资深贷款专员，争取最佳利息。协调中介快速顺利成交。<br>
                        无论您是自住还是投资，长城地产的专业团队都会为您服务到底，让您住的舒心，赚的开心！
                        点击这里 寻找房源</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-text">
                    <h3>卖房</h3>
                    <p> 专业团队为您房屋的出售进行评估，包装，和市场推售。</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-text">
                    <h3>知识库</h3>
                    <p>在全世界，好像都没有像中国人这么喜欢买房子的
                        如今在美国的50个州，中国人已在44个州跻身当地外国投资客的前5名，在纽约、夏威夷排第二，在加利福尼亚排第三。过去一
                        年，加州房地产市场出售的房子有一半是卖给中国人。
                        </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/videos/purchase.mp4"
                   class="link-watch popup-vimeo btn btn-primary"><i class="icon-play3"></i> Watch our video</a>
            </div>
        </div>

    </div>
</div>